
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


// General syling
body {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

a, a:visited, a:focus {
  color: #1a8787;
}

a:hover {
  color: #006161;
  text-decoration: none;
}

.pagination {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.pagination .page-item .page-link {
  background-color: #263238;
  color: white;
  border-color: #263238;
}

.pagination .page-item.active .page-link {
  background-color: #3b464b;
}

// End of general styling

// Master page styling
#site_title {
  position: absolute;
  top: 10px;
  right: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 8px;
  color: #263238;
  text-align: right;
  padding: 10px 20px;
  // margin-bottom: 20px;
}

#sidebar {
  width: 250px;
  height: 100vh;
  background-color: #263238;
  padding: 10px;
  position: fixed;
}

#user_container {
  padding-bottom: 20px;
  border-bottom: 2px solid #222d32;
}

#user_container img {
  height: auto;
  width: 80px;
  margin:  10px 0 25px;
}

.main_container {
  background-color: #292a3d;
  background: linear-gradient(to bottom left, #339494 0%, #263238 95%);
  background-repeat: no-repeat;
  color: #cccccc;
  margin-left: 250px;
  overflow: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

nav {
  font-size: 1.3em;
  font-weight: 500;
  text-align: right;
}

.page_heading {
  text-transform: uppercase;
  color: #263238;
  font-weight: 300;
  font-size: 4.3em;
  margin-bottom: 40px;
}

.page_subheading {
  display: block;
  font-weight: 200;
  font-size: .5em;
  text-transform: none;
}

.user_avatar {
  border-radius: 50%;
}

#logout_btn, #logout_btn:focus {
  background:none!important;
  color:#1a8787;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
  outline: none;
}

#logout_btn:hover {
  color: #006161;
}

// End of general master page styling


// Home Page styling
#home_container {
  height: 100vh;
  margin-top: -100px;
  margin-bottom: -50px;
}

#home_container h1 {
  font-size: 2.5rem;
}

#home_container .dota_text {
  font-size: 1.5em;
  font-weight: 400;
}

#home_search_form .search-query {
  border: none;
  background-color: #263238;
  padding: 10px;
  border-radius: 3px 0 0 3px;
  color: white;
}

#home_search_form .search_btn {
  border: none;
  border-radius: 0 3px 3px 0;
}

#home_search_form .search_btn img {
  padding: 5px;
  height: 30px;
  width: auto;
}

// End of Home page styling

// Team page styling
.team_container {
  margin: 10px 0;
  padding: 10px 5px;
  height: 120px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  color: #263238;
  font-size: 1.3em;
}

.team_container .team_logo {
  height: 100%;
  width: auto;
}

.team_name {
  font-size: 2em;
  font-weight: 300;
  color: #125e5e;
}

.team_player_container {
  font-size: 2em;
}

.team_name:hover {
  color: #263238;
}

.team_sub_heading {
  font-weight: 500;
  padding-bottom: 20px;
}

// End of Team page styling

// Hero page styling
#heroes_container .col-2 {
  max-width: 11.1111%!important;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.hero_img {
  width: inherit;
  height: auto;
}

.hero_attr_heading{
  color: #263238;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.4em;
}

// End of Hero page styling

// ProPlayer page styling
.proplayer_container {
  margin: 10px 0;
  padding: 10px 5px;
  height: 120px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  color: #263238;
  font-size: 1.3em;
}

.proplayer_container .proplayer_logo {
  height: 100%;
  width: auto;
}

.proplayer_name_container {
  font-size: 2em;
}

.proplayer_name {
  font-size: .8em;
  font-weight: 300;
  color: #125e5e;
}

.proplayer_name:hover {
  color: #263238;
}

.proplayer_team_name {
  font-weight: 500;
  font-size: .5em;
}

.proplayer_sub_heading {
  font-weight: 500;
  padding-bottom: 20px;
}

// End of ProPlayer page styling

// Profile page styling
#profile_container {
  color: #263238;
  font-size: 1.5em;
}

.profile_name_container {
  font-weight: 300;
  margin-bottom: 50px;
  font-size: 2em;
}

.profile_team_name {
  font-size: .8em;
}

.profile_subheading {
  font-weight: 500;
  color: lightgrey;
}


.player_heroes_container .col-2 {
  // max-width: 12.5%!important;
  max-width: 11.1111%!important;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  
}

// End of Profile page styling